################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clicker/bin/Debug
/Clicker/obj/Debug
/.vs/Clicker/v15
